[user]
	name = Emre Tuna
	email = tunaemre@windowslive.com
[core]
	excludesfile = ~/.gitignore_global
    editor = nvim
	compression = 0
[pull]
	ff = only
[init]
	defaultBranch = main
[credential]
	helper = store
[http]
	postBuffer = 1048576000
