nvim/.config/nvim/plugin/packer_compiled.lua
nvim/.config/nvim/undo
wal/.cache/wal/schemes


vscode/.vscode-profiles/**/extensions/*

vscode/.vscode-profiles/**/data/*

!vscode/.vscode-profiles/**/data/User/**
!!vscode/.vscode-profiles/**/data/User/settings.json